@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* { 


box-sizing: border-box;

}

div {

    width: 49%;
    margin-bottom: 30px;

}
video { 
    width: 100%;
    margin-bottom: 30px;
}

img{

width: 100%;

}


header h1{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: red;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;

}

header h2{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: black;
    font-weight: 300;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;

}

header h3{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: red;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;

}

main{

    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../imagenes/fondo.jpg);
    background-size: auto 50px;
    background-repeat: repeat;
    color: red;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 20px;
}


.enlace {
    text-decoration: none;
    color: white;
    background-color: red;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    display: block;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
    transition: all 2s;
    margin: auto; 
    margin-bottom: 20px;
    border-radius: 5px;
}

.enlace:hover {

    background-color: white;
    border:1px dashed red;
    color: red;
}
.animacion {
    width: 10%;
    height: 10px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: move-horizontal;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move-horizontal {
    from {
        left: 0;
    }
    to {
        left: 90%;
    }
}